<center>
Fill out the section below to create an account:
<form action='/users' method='post'>
  Name     <input type='text' name='name' placeholder='Enter full name'><br>
  Email    <input type='email' name='email' placeholder='Enter email address'><br>
  Username <input type='text' name='username' placeholder='Create a username'><br>
  Password <input type='password' name='password' placeholder='Enter Password'><br>
  <input type='submit' value='Submit'>
</form>
</center>

